
 #container-charts1  {
  width: 750px;
  height: 500px;
  /* margin-left: 25%; */
  padding: 0;
}
 #container-charts2  {
  width: 1750px;
  height: 500px;
  /* margin-left: 25%; */
  padding: 0;
}
 #container-charts3  {
  width: 750px;
  height:500px;
  /* margin-left: 25%; */
  padding: 0;
}